<div class="row rowMargins">
<div class="col s12 m6 l6">
	<img src="{{photo}}" class="photos">
</div>
<div class="col s12 m6 l6">
	<h4>{{title}}</h4>
	<p>{{description}}</p>
	<a href="{{githubLink}}" class="portfolioLinks">Github</a> -- <a href="{{liveLink}}" class="portfolioLinks">Live</a>
</div>
</div>